<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogPress | Create Category</title>

    <%- include('../../partials/styles.ejs') %>
    
</head>
<body>

    <%- include('../../partials/header.ejs') %>

    <div class="container">
        <br><br><br>
        <h1>New Category</h1>
        <br>

        <form action="/admin/category/save" method="post" class="form">
            <label class="mb-2" for="title">Title</label>
            <input type="text" name="title" class="form-control" id="title">
            <br>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>

    <%- include('../../partials/scripts.ejs') %>

</body>
</html>